<p>Hola {{ name }},</p>
<p>Es un placer tenerlo dentro de nuestra aplicacion , solo falta que confirme su inscripcion para terminar el proceso</p>
<p>
    <a href="{{ url }}">Confirmar</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>