<p>Hola {{ name }},</p>
<p>Porfavor precione click al siguiente enlace para restaurar su contrase침a</p>
<p>
    <a href="{{ url }}">Restaurar contrase침a</a>
</p>

<p>Si no solicit칩 este correo electr칩nico, puede ignorarlo de forma segura.</p>