<p>Hola {{ name }},</p>
<p>Porfavor precione click al siguiente enlace para restaurar su contraseña</p>
<p>
    <a href="{{ url }}">Restaurar contraseña</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>