<header div="bg-primary navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="bg-primary d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <span></span>
    <div><img src="../../../assets/images/ESLogo.svg" alt="" style="width: 9rem;"></div>
    <div></div>
  </div>
</header>
<main>
  <div class="container">
    <div class="d-flex flex-wrap">
      <div class="card col-12 p-0 m-2">
        <div class="card-body">
          <div class="row">

        <form [formGroup]="restartPasswordForm" (submit)="OnRestartPassword()" >
          <div>
            <div class="row px-5">
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" formControlName="password_" id="password" placeholder="">
                <div class="alert-danger" *ngIf="passLog?.invalid && (passLog?.dirty || passLog?.touched)">
                  <div class="container-error-message" *ngIf="passLog?.errors?.required">
                    Campo obligatorio
                  </div>
                  <div class="container-error-message" *ngIf="passLog?.errors?.pattern">
                    No es un correo válido
                  </div>
                </div>

              </div>
              <div class="mb-3">
                <label for="repassword" class="form-label">Confirmar su contraseña:</label>
                <input type="password" class="form-control" id="repassword" placeholder="">
                <div class="alert-danger" *ngIf="repassLog?.invalid && (repassLog?.dirty || repassLog?.touched)">
                  <div class="container-error-message" *ngIf="repassLog?.errors?.required">
                    Campo obligatorio
                  </div>
                  <div class="container-error-message" *ngIf="repassLog?.errors?.pattern">
                    No es un correo válido
                  </div>
                </div>

              </div>
              <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-warning">Restablecer contraseña</button>
              </div>
            </div>
          </div>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
