<div class="container">
  <div class="row">
    <div class="d-flex">
      <button class="btn" style="color: orange;" data-bs-toggle="modal" data-bs-target="#creartaller">
        <fa-icon [icon]="faPlus"></fa-icon>
        Generar conferencia o taller
      </button>
      <button class="btn" style="color: orange;" (click)="printPDF()">
        <fa-icon [icon]="faAsterisk"></fa-icon>
        Generar programa
      </button>
      <button class="btn" style="color: orange;" (click)="deleteEvent(event.eventId)">
        <fa-icon [icon]="faTrash"></fa-icon>
        Eliminar evento
      </button>

      <button class="btn" style="color: orange;" (click)="generateDiploma()">
        <fa-icon [icon]="faTrash"></fa-icon>
        Diploma
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <img style="height: 50vh;" [src]="event.photo" alt="">
  </div>
  <div class="d-flex mb-3">
    <div>Fecha de inicio: <label for="" class="mx-2">{{event.startDate|date:'dd-MM-yyyy'}}</label></div>
    <div>Fecha de finalización: <label for="" class="mx-2">{{event.endDate|date:'dd-MM-yyyy'}}</label></div>
  </div>
  <div class="row mb-3">
    <div>Institución: <label for="" class="mx-2">{{event.institutionId}}</label></div>
    <div>Descripción: {{event.description_}}</div>
  </div>
  <div class="row mb-3">
    <div class="mb-2">Organizador:</div>
    <div class="d-flex align-items-center" (click)="goToProfile(event.userId)">
      <div class="sm-avatar mx-2"></div>
      <div class="cp">{{event.userId}}</div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row mb-3">
    <div class="row my-3">Agenda</div>
    <div class="row mb-3 py-2" style="background-color: #d5caca82; border-radius: 5px;" *ngFor="let evento of eventosProgramados; let i = index">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <div class="d-flex justify-content-between"><div>Fecha de inicio:</div> <div>{{evento.startDate|date:'dd-MM-yyyy'}}</div></div>
        <div class="d-flex justify-content-between"><div>Fecha de fin:</div> <div>{{evento.endDate|date:'dd-MM-yyyy'}}</div></div>
         <div class="d-flex justify-content-between"><div>Hora de inicio:</div> <div>{{evento.startHour}}</div></div>
        <div class="d-flex justify-content-between"><div>Hora de fin:</div> <div>{{evento.endHour}}</div></div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-12" style="border-left: solid 2px gray;">
        <div class="title-conference">{{evento.name}}</div>
        <div class="ml-5">Descripción: {{evento.description_}}</div>
        <div class="ml-5">{{evento.address}}</div>
        <div class="row mb-3" >
          <div class="d-flex align-items-center justify-content-center" (click)="goToProfile(event.managerId)">
            <div class="sm-avatar"></div>
            <div class="mx-2 cp">{{evento.managerId}}</div>
          </div>
        </div>
        <div class="mb-2 d-flex justify-content-right ccsss">
          <button  type="button" class="btn btn-warning ml-5" (click)="goToParticipants()">Participantes</button>
          <button  type="button" class="btn btn-warning ml-5" >Generar diplomas</button>
          <button  type="button" class="btn btn-warning ml-5" (click)="deleteScheduledEvent(evento.scheduledEventId)">Eliminar</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal Generar Conferencia o taller -->
<div class="modal fade" id="creartaller" tabindex="-1" aria-labelledby="creartallerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="bg-primary d-flex justify-content-start" style="height: 8vw;">
              <img src="../../../../assets/images/ESLogo.svg" alt="...">
        </div>
        <form [formGroup]="eventoProgramadoForm">
          <div>
            <div class="row px-5">

              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" formControlName="name" class="form-control" id="nombre" placeholder="">
                <div class="alert-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                  <div class="container-error-message" *ngIf="name?.errors?.required">
                    Campo obligatorio
                  </div>
                  <div class="container-error-message" *ngIf="name?.errors?.pattern">
                    No es un nombre válido
                  </div>
                  <div  class="container-error-message" *ngIf="name?.errors?.maxLength">
                    El tamaño excede
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea formControlName="description_" class="form-control" id="descripcion" rows="4"></textarea>
                <div class="alert-danger" *ngIf="description_?.invalid && (description_?.dirty || description_?.touched)">
                  <div class="container-error-message" *ngIf="description_?.errors?.required">
                    Campo obligatorio
                  </div>
                  <div class="container-error-message" *ngIf="description_?.errors?.pattern">
                    No es un nombre válido
                  </div>
                  <div  class="container-error-message" *ngIf="description_?.errors?.maxLength">
                    El tamaño excede
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Encargado:</label>
                <input type="text" formControlName="managerId" class="form-control" id="encargado" placeholder="">
                <div class="alert-danger" *ngIf="managerId?.invalid && (managerId?.dirty || managerId?.touched)">
                  <div class="container-error-message" *ngIf="managerId?.errors?.required">
                    Campo obligatorio
                  </div>
                  <div class="container-error-message" *ngIf="managerId?.errors?.pattern">
                    No es un nombre válido
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="inicio" class="form-label">Fecha de inicio:</label>
                <input formControlName="startDate" type="date" [min]="fechaStrMinima"  class="form-control" id="inicio" placeholder="">
                <div class="alert-danger" *ngIf="startDate?.invalid && (startDate?.dirty || startDate?.touched)">
                  <div class="container-error-message" *ngIf="startDate?.errors?.required">
                    Campo obligatorio
                  </div>
                  <div class="container-error-message" *ngIf="startDate?.hasError">
                    fecha de inicio no debe ser menor que la de hoy
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="final" class="form-label">Fecha final:</label>
                <input formControlName="endDate" type="date" [min]="fechaStrMinima" class="form-control" id="final" placeholder="">
                <div class="alert-danger" *ngIf="endDate?.invalid && eventoProgramadoForm?.invalid && (endDate?.dirty || endDate?.touched)">
                  <div class="container-error-message" *ngIf="endDate?.errors?.required">
                    Campo obligatorio
                  </div>

                </div>
                <div class="alert-danger"*ngIf="eventoProgramadoForm.hasError('dateValid')">
                  <div class="container-error-message" *ngIf="eventoProgramadoForm.hasError('dateValid')"  >
                    Asegúrese que la fecha final es mayor que la de inicio
                  </div>
                </div>

              </div>
              <div class="mb-3">
                <label for="final" class="form-label">Hora inicio:</label>
                <input formControlName="startHour" type="time" [min]="fechaStrMinima" class="form-control" id="final" placeholder="">
                <div class="alert-danger" *ngIf="startHour?.invalid && eventoProgramadoForm?.invalid && (startHour?.dirty || startHour?.touched)">
                  <div class="container-error-message" *ngIf="startHour?.errors?.required">
                    Campo obligatorio
                  </div>

                </div>
                <div class="alert-danger"*ngIf="eventoProgramadoForm.hasError('dateValid')">
                  <div class="container-error-message" *ngIf="eventoProgramadoForm.hasError('dateValid')"  >
                    Asegúrese que la fecha final es mayor que la de inicio
                  </div>
                </div>

              </div>
              <div class="mb-3">
                <label for="final" class="form-label">Hora final:</label>
                <input formControlName="endHour" type="time" [min]="fechaStrMinima" class="form-control" id="final" placeholder="">
                <div class="alert-danger" *ngIf="endHour?.invalid && eventoProgramadoForm?.invalid && (endHour?.dirty || endHour?.touched)">
                  <div class="container-error-message" *ngIf="endHour?.errors?.required">
                    Campo obligatorio
                  </div>

                </div>
                <div class="alert-danger"*ngIf="eventoProgramadoForm.hasError('dateValid')">
                  <div class="container-error-message" *ngIf="eventoProgramadoForm.hasError('dateValid')"  >
                    Asegúrese que la hora final es mayor que la de inicio
                  </div>
                </div>

              </div>
              <div class="mb-3 d-flex">
                <div class="form-check">
                  <input formControlName="modality" class="form-check-input" type="radio"  id="radioprivacidad1" (click)="changePriv(1)" checked value=Virtual>
                  <label class="form-check-label" for="radioprivacidad1">
                    Virtual
                  </label>
                </div>
                <div class="form-check mx-4">
                  <input formControlName="modality" class="form-check-input" type="radio"  id="radioprivacidad2" (click)="changePriv(2)" value=Presencial>
                  <label class="form-check-label" for="radioprivacidad2">
                    Presencial
                  </label>
                </div>
              </div>

              <div class="mb-3">
                <label for="nombre" class="form-label">Dirrección o URL:</label>
                <input type="text" formControlName="address" class="form-control" id="nombre" placeholder="">
                <div class="alert-danger" *ngIf="address?.invalid && (address?.dirty || address?.touched)">
                  <div class="container-error-message" *ngIf="address?.errors?.required">
                    Campo obligatorio
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad de participantes:</label>
                <input formControlName="places" type="number" min=0 class="form-control" id="cantidad" placeholder="">
                <div class="alert-danger" *ngIf="places?.invalid && (places?.dirty || places?.touched)">
                  <div class="container-error-message" *ngIf="places?.errors?.min">
                    No se admiten valores negativos
                  </div>
                </div>
              </div>
              <div class="mb-5 d-flex justify-content-center">
                <button  type="button" [disabled]="!eventoProgramadoForm.valid" class="btn btn-warning" (click)="createScheduledEvent()"  >Generar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
