<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <button class="btn" style="color: orange;" data-bs-toggle="modal" data-bs-target="#crearevento">
        <fa-icon [icon]="faPlus"></fa-icon>
        Generar conferencia
      </button>
      <button class="btn" style="color: orange;">
        <fa-icon [icon]="faEye"></fa-icon>
        Ver participantes
      </button>
      <button class="btn" style="color: orange;">
        <fa-icon [icon]="faAsterisk"></fa-icon>
        Generar diplomas
      </button>
      <button class="btn" style="color: orange;" (click)="deleteEvent(event.eventId)">
        <fa-icon [icon]="faTrash"></fa-icon>
        Eliminar evento
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <img style="height: 50vh;" [src]="event.image == undefined || event.image == '' ? '../../../../assets/images/default.jpg' : event.image" alt="">
  </div>
  <div class="d-flex mb-3">
    <div>Fecha de inicio: <label for="" class="mx-2">{{event.startDate|date:'shortDate'}}</label></div>
    <div>Fecha de finalización: <label for="" class="mx-2">{{event.endDate|date:'shortDate'}}</label></div>
  </div>
  <div class="row mb-3">
    <div>Institución: <label for="" class="mx-2">{{event.institutionId}}</label></div>
    <div>Descripción: {{event.description_}}</div>
  </div>
  <div class="row mb-3">
    <div class="mb-2">Organizador:</div>
    <div class="d-flex align-items-center"><div class="sm-avatar mx-2"></div> {{event.userId}}</div>
  </div>
</div>
