<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <button class="btn" style="color: orange;" data-bs-toggle="modal" data-bs-target="#crearevento">
        <fa-icon [icon]="faPlus"></fa-icon>
        Generar conferencia
      </button>
      <button class="btn" style="color: orange;">
        <fa-icon [icon]="faEye"></fa-icon>
        Ver participantes
      </button>
      <button class="btn" style="color: orange;">
        <fa-icon [icon]="faAsterisk"></fa-icon>
        Generar diplomas
      </button>
      <button class="btn" style="color: orange;" (click)="deleteEvent">
        <fa-icon [icon]="faTrash"></fa-icon>
        Eliminar evento
      </button>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>
