.alert-danger{
    color: #721c47;
    background: #f8d7da ;
    border-color: #f5c6cb;
    margin-bottom: 5;
    font-size: xx-small;
}


.container-error-message{
    padding: 2px;
}

.btn-link {
  color: #3576A0 !important;
  background-color: transparent;
  border: none;
}

.close-restart-password {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.perfil-registro{
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 2px #0000005c;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
