<main class="container-fluid" >
  <div class="row" style="min-height: 100vh;">
    <nav id="sidebarMenu" class="col-md-3 col-lg-1 d-md-block sidebar collapse bg-primary">
      <div class="position-sticky pt-3">
      <ul class="nav flex-column">
          <li class="nav-item">
            <img src="" alt="...">
          </li>
          <li class="nav-item">
            <a class="nav-link text-light d-flex flex-wrap justify-content-center" routerLink="/usuario/eventos" routerLinkActive="nav-active">
            <fa-icon [icon]="faHome" class="fs-1"></fa-icon>
            <label style="font-size: smaller; text-align: center;" for="">Panel principal</label>
          </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link text-light d-flex flex-wrap justify-content-center" routerLink="/usuario/mis-eventos" routerLinkActive="nav-active">
              <fa-icon [icon]="faBook" class="fs-1"></fa-icon>
              <label style="font-size: smaller; text-align: center;" for="">Mis eventos</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light d-flex flex-wrap justify-content-center" routerLink="/usuario/estadisticas" routerLinkActive="nav-active" >
              <fa-icon [icon]="faStat" class="fs-1"></fa-icon>
              <label style="font-size: smaller; text-align: center;" for="">Estadisticas</label>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-light d-flex flex-wrap justify-content-center" routerLink="/usuario/perfil" routerLinkActive="nav-active" >
              <fa-icon [icon]="faHome" class="fs-1"></fa-icon>
            </a>
          </li> -->
      </ul>
      </div>
    </nav>
    <div class="col-md-9 ms-sm-auto col-lg-11 px-md-4">
        <header div="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
          <div class="d-flex flex-wrap align-items-center justify-content-end justify-content-md-end justify-content-sm-end py-3 mb-4 ">
            <div class="d-flex align-items-center">
              <fa-icon [icon]="faBell"></fa-icon>
              <label class="mx-2" for="">{{username}}</label>
              <div class="sm-avatar"></div>
            </div>
          </div>
        </header>
        <div>
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</main>
