<main class="container-fluid" >
  <div class="row" style="min-height: 100vh;">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
      <ul class="nav flex-column">
          <li class="nav-item">
            <fa-icon [icon]="faHome"></fa-icon>
            <a class="nav-link" routerLink="/usuario/eventos" routerLinkActive="active">Eventos</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/usuario/mis-eventos" routerLinkActive="active">Mis Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuario/estadisticas" routerLinkActive="active" >Estadisticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuario/perfil" routerLinkActive="active" >Perfil</a>
          </li>
      </ul>
      </div>
  </nav>
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <header div="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"></div>
      </header>
      <div>
        <router-outlet></router-outlet>
      </div>
  </div>
  </div>
</main>
