/* You can add global styles to this file, and also import other style files */
.nav-active {
  background-color: #5f9ea0ad;
  border-radius: 5px;
}

.sm-avatar {
  width: 3vw;
  height: 3vw;
  background-color: gray;
  border-radius: 100%;
  cursor: pointer;
}

.bg-primary {
  background-color: #3576A0 !important;
}

.btn-warning {
  background-color: #EDC737 !important;
  border-color: #EDC737;
  color: black;
}
