<div class="container">
  <div class="row mb-3">
    <div class="d-flex justify-content-start">
      <button class="btn" style="color: orange;" data-bs-toggle="modal" data-bs-target="#crearevento">
        <fa-icon [icon]="faPlus"></fa-icon>
        Inscribirme
      </button>
      <button class="btn mx-2" style="color: orange;">
        <fa-icon [icon]="faTrash"></fa-icon>
        Cancelar inscripción
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <img style="height: 50vh;" [src]="event.image == undefined || event.image == '' ? '../../../../assets/images/default.jpg' : event.image" alt="">
  </div>
  <div class="d-flex mb-3">
    <div>Fecha de inicio: <label for="" class="mx-2">{{event.startDate|date:'shortDate'}}</label></div>
    <div>Fecha de finalización: <label for="" class="mx-2">{{event.endDate|date:'shortDate'}}</label></div>
  </div>
  <div class="row mb-3">
    <div>Institución: <label for="" class="mx-2">{{event.institutionId}}</label></div>
    <div>Descripción: {{event.description_}}</div>
  </div>
  <div class="row mb-3">
    <div class="mb-2">Organizador:</div>
    <div class="d-flex align-items-center"><div class="sm-avatar mx-2"></div> {{event.userId}}</div>
  </div>
  <div class="divider"></div>
  <div class="row mb-3">
    <div class="row my-3">Agenda</div>
    <div class="row mb-3 py-2" style="background-color: #d5caca82; border-radius: 5px;" >
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <div class="d-flex justify-content-between"><div>Fecha de inicio:</div> <div>{{event.startDate|date:'shortDate'}}</div></div>
        <div class="d-flex justify-content-between"><div>Fecha de fin:</div> <div>{{event.endDate|date:'shortDate'}}</div></div>
<!--         <div class="d-flex justify-content-between"><div>Hora de inicio:</div> <div>{{event.startTime}}</div></div>
        <div class="d-flex justify-content-between"><div>Hora de fin:</div> <div>{{event.endTime}}</div></div> -->
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-12" style="border-left: solid 2px gray;">
        <div>{{event.name}}</div>
        <div>Descripción: {{event.description_}}</div>
        <div><a href="">URL de la ubicación o enlace</a></div>
        <div class="row mb-3">
          <div class="d-flex align-items-center"><div class="sm-avatar"></div><div class="mx-2">{{event.userId}}</div></div>
        </div>
      </div>
    </div>
  </div>
</div>
